{{template "base" .}}
 
{{define "title"}}Домашняя страница{{end}}
 
{{define "main"}}
<div class="mx-auto">
<div class="flex">
<div class="basis-1/2 bg-white ml-auto mr-12 rounded-lg border-zink-100 px-8 py-2 my-4">
    
    <div class="ml-2 text-xl text-indigo-200 my-6">
        <p>
        Рекомендации
        </p>
    </div >
    {{range .Treds}}
    {{template "tred" .}}
    {{end}}
</div> 
<div class=" basis-1/5 bg-white rounded-lg border-zink-100 my-4 mr-44 px-4 py-8 h-60">
    <h1 class="text-gray-950 rounded-md pr-3 py-2 text-2xl font-medium">Категории</h1>
{{range .Categories}}
    <a href="#" class="text-gray-300 hover:text-gray-950 pr-1 rounded-md font-medium">{{.Name}}</a>
{{end}}
</div>
    </div>
</div>
{{end}}


{{define "tred"}}
    <article class="p-6 mb-3 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <footer class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                        class="mr-2 w-10 h-10 rounded-full"
                        src="/static/img/{{.UPhoto}}"
                        alt="{{.ULastName}} {{.UFirstName}}">{{.ULastName}} {{.UFirstName}}</p>
                <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-03-12"
                        title="March 12th, 2022">{{.PublicationDate}}</time></p>
            </div>
            <button id="dropdownComment{{.ID}}Button" data-dropdown-toggle="dropdownComment{{.ID}}"
                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                type="button">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                    <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                </svg>
                <span class="sr-only">Comment settings</span>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownComment{{.ID}}"
            class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownMenuIconHorizontalButton">
                    <li>
                        <a href="#"
                            class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            data-id="{{.ID}}"
                            onclick="sendReport(this)">Пожаловаться</a>
                    </li>
                </ul>
            </div>
       
        </footer>
        <p class="text-gray-500 dark:text-gray-400">{{.Content}}</p>
        <p class="text-indigo-500 text-sm pt-4">
            #{{.Category}} #тег1 #тег2 #тег3 
        </p>
        <div class="flex items-center mt-4 space-x-4">
            <button type="button" onclick="toggleReplyForm(this)"
                class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                </svg>
                Ответить
            </button>
            <button type="button" class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                <svg class="w-[20px] h-[20px] text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11c.889-.086 1.416-.543 2.156-1.057a22.323 22.323 0 0 0 3.958-5.084 1.6 1.6 0 0 1 .582-.628 1.549 1.549 0 0 1 1.466-.087c.205.095.388.233.537.406a1.64 1.64 0 0 1 .384 1.279l-1.388 4.114M7 11H4v6.5A1.5 1.5 0 0 0 5.5 19v0A1.5 1.5 0 0 0 7 17.5V11Zm6.5-1h4.915c.286 0 .372.014.626.15.254.135.472.332.637.572a1.874 1.874 0 0 1 .215 1.673l-2.098 6.4C17.538 19.52 17.368 20 16.12 20c-2.303 0-4.79-.943-6.67-1.475"/>
                </svg>                      
                0
            </button>
            <button type="button" class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
                <svg class="w-[20px] h-[20px] text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13c-.889.086-1.416.543-2.156 1.057a22.322 22.322 0 0 0-3.958 5.084 1.6 1.6 0 0 1-.582.628 1.549 1.549 0 0 1-1.466.087 1.587 1.587 0 0 1-.537-.406 1.666 1.666 0 0 1-.384-1.279l1.389-4.114M17 13h3V6.5A1.5 1.5 0 0 0 18.5 5v0A1.5 1.5 0 0 0 17 6.5V13Zm-6.5 1H5.585c-.286 0-.372-.014-.626-.15a1.797 1.797 0 0 1-.637-.572 1.873 1.873 0 0 1-.215-1.673l2.098-6.4C6.462 4.48 6.632 4 7.88 4c2.302 0 4.79.943 6.67 1.475"/>
                </svg>                                           
                0
            </button>  
        </div>
        <!-- Начало ответить (Ответить - форма для комментов) -->
        <div class="hidden reply-form">
            <form class="w-full bg-white rounded-lg px-4 pt-2" method="post" action="/createthred">
                <div class="-mx-3 mb-6">
                    <input type="hidden" name="parentThreadId" value="{{.ID}}">
                    <input type="hidden" name="category_select" value="0">
                    <div class="w-full md:w-full px-3 mb-2 mt-2">
                        <textarea class="rounded-md appearance-none bg-transparent w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:border-none resize-none border-1 border-indigo-200" name="tredArea" placeholder='Напишите свой комментарий' required></textarea>
                    </div>
                    <div class="w-full md:w-full flex items-start md:w-full px-3">
                        <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
                        </div>
                        <div class="-mr-1">
                            <input type='submit' class="bg-indigo-400 text-sm border-2 border-indigo-400 hover:border-indigo-400 hover:bg-white text-white py-1 px-2 rounded hover:text-indigo-400" value='Ответить'>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Конец ответить -->
    </article>

    {{if .ChildTreds}}
            {{range .ChildTreds}}
            <div class="ml-12">
                {{template "tred" .}}
            </div>   
            {{end}}
    {{end}}
{{end}}

<script>
function toggleReplyForm(button) {
    const form = button.closest('div').nextElementSibling;
    form.classList.toggle('hidden');
}
</script>
<script>
    function sendReport(element) {
        var id = element.getAttribute('data-id');
        var xhr = new XMLHttpRequest();
        
        xhr.open("POST", "/report", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                alert("Ваша жалоба успешно отправлена!");
            }
        };
    
        var data = JSON.stringify({ id: id });
        xhr.send(data);
        console.log(data)
    }
</script>